<!DOCTYPE html>
<html class="no-js"> 
<head>
    <meta charset="utf-8">

    <title>Los reyes</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=1024">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet" href="css/Login.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
    
    <div class="bg-overlay"></div>
    
    <div class="btl">
        <a class="" href="main.html">REGRESAR</a>
    </div>

    <div class="pack-container">
        <div class="header">
          <div class="price-container">
            <span>Cita no disponible<br> ¡Favor de seleccionar otra hora!</span>
          </div>
        </div>
        <div class="button-container">
            <button onclick="location.href='/main'" type="button">
                Regresar al menú de inicio
            </button>
        </div>
      </div>

                    
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/jquery.easing-1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
    
</body>
</html>